@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #f5f2ef;
  margin: 0;
  padding: 0;
  color: #1c1c1c;
}
.project-details-header .logo .name p,
.project-details-header .nav a {
  color: black;
}
.project-details-header {
  color: black;
}
.space {
  padding: 200px;
}
body {
  margin: 0px;
}
main p {
  color: black;
}
a p {
  color: rgb(0, 0, 0);
}
#footer p {
  color: white;
}
